@font-face {
    font-family: "W95FA";
    src: local("W95FA.otf");
}



body {
    
    margin: 0px 0px 55px 50px;
    background-color: #008282;
    font-family: 'W95FA';
    color: white;

}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    height: 200px;
    width: 200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}


.verde    {

    background-color: green;
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    border: none 
       
        
}

.vermelho   {
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    border: none 
       
}

.amarelo   {
    background-color: yellow;
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    border: none 
       
}

.azul   {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    border: solid 2px #008282;
}

.selected {
    border: solid 2px white;
}


footer{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
p{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.devs{    

    width: 400px;
    border: none;
}

.credito{
    margin: 20px 20px 20px 20px;
    
}

.gitDev{
    margin: 20px 20px 20px 20px;
}

