@font-face {
    font-family: "W95FA";
    src: local("W95FA.otf");
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 90vh;
    width: 90vw;
    background-image: url(./win95_logo.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top center;
    
    margin: 100px 0px 55px 50px;
    background-color: #008282;
    font-family: 'W95FA';
    color: white;
    
}

main {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: auto;
    /* margin-right: 100px; */
}

.container{
    /* height: 200px;
    width: 220px;     
    margin-left: 165px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap; */
    font-family: "W95FA";
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-right: 370px;
}


.verde    {
    font-family: "W95FA";
    background-color: rgb(17, 247, 17);
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent 
       
        
}

.vermelho   {
    background-color: red;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent;
       
}


.amarelo   {
    background-color: yellow;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent; 
       
}

.azul   {
    background-color: blue;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent;

}

.selected {
    border: solid 2px white;
    display: flex;
}


footer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 100px;
}
p{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.devs{    

    width: 400px;
    border: none;
}

.credito{
    margin: 20px 20px 20px 20px;
    
}

.gitDev{
    margin: 20px 20px 20px 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    gap: 5px;
}
.img{
    margin-top: 5px;
}