@font-face {
    font-family: "W95FA";
    src: local("W95FA.otf");
}



body {
    background-image: url(./win95_logo.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top center;
    
    margin: 100px 0px 55px 50px;
    background-color: #008282;
    font-family: 'W95FA';
    color: white;
    
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    /* margin-bottom: 100px; */
}

.container{
    /* height: 200px;
    width: 220px;     
    margin-left: 165px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap; */
    font-family: "W95FA";
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
    margin-left: 165px;
}


.verde    {
    font-family: "W95FA";
    background-color: rgb(17, 247, 17);
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent 
       
        
}

.vermelho   {
    background-color: red;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent;
       
}


.amarelo   {
    background-color: yellow;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent; 
       
}

.azul   {
    background-color: blue;
    height: 80px;
    width: 80px;
    margin: 20px 20px 20px 20px;
    border: 2px solid transparent;

}

.selected {
    border: solid 2px white;
    display: flex;
}

.windows {
    
    background-color: #C3C3C3;
    box-shadow: inset -1px -1px 0px 1px #262626, inset 1px 1px 0px 1px #F0F0F0, inset -3px -3px 0px 1px #7E7E7E, inset 4px 3px 0px 1px #B1B1B1;
    
}

.windowsbtn {
    
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background-color: #C3C3C3;
    box-shadow: inset -1px -1px 0px 1px #262626, inset 1px 1px 0px 1px #F0F0F0, inset -3px -3px 0px 1px #7E7E7E, inset 3px 3px 0px 1px #B1B1B1;
    
}

.iniciar{
    height: 40px;
    width: 120px;
    margin: 0px 0px 0px 10px;
}

footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 100px;
 
    margin: 100px 0px 0px -50px;

    height: 55px;

    position: absolute;
    width: 100%;
    bottom: 0; 
}


.windowstime{
    height: 30px;
    width: 139px;
    border: solid 1px red;
    margin: 0px 10px 0px 0px;
}





p{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.devs{    

    width: 400px;
    border: none;
}

.credito{
    margin: 20px 20px 20px 20px;
    
}

.gitDev{
    margin: 20px 20px 20px 20px;
}

